<%= form_for(@ref_consult_summary) do |f| %>
  <% if @ref_consult_summary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ref_consult_summary.errors.count, "error") %> prohibited this ref_consult_summary from being saved:</h2>

      <ul>
      <% @ref_consult_summary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :refDate %><br />
    <%= f.date_select :refDate %>
  </div>
  <div class="field">
    <%= f.label :refNumber %><br />
    <%= f.number_field :refNumber %>
  </div>
  <div class="field">
    <%= f.label :consultationTreatmentSummary %><br />
    <%= f.text_field :consultationTreatmentSummary %>
  </div>
  <div class="field">
    <%= f.label :recommendedPlanOfCareId %><br />
    <%= f.number_field :recommendedPlanOfCareId %>
  </div>
  <div class="field">
    <%= f.label :sendRequestProviderId %><br />
    <%= f.number_field :sendRequestProviderId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
