<%= stylesheet_link_tag :record %>
<div class="patient">
  <%= labeled_field 'Patient Name:', patient_name(@record) %>

  <table class="record" border="0">
    <tr>
      <td>
          <h2>Demographic Information</h2>
          <%= sex(@record) %><br>
          <% bdate = Time.at(@record.birthdate) if @record.birthdate.class == Fixnum  %>
          <%= (date(bdate) + "&nbsp;(" + time_ago_in_words(bdate) + " old)").html_safe %><br>

          <b>....</b>

          <%= section_title :immunizations %>
          <% earliest = Time.now - (2 * 365 * 24 * 3600) %>
          <% section_enumerator(@record, :immunizations, earliest) do |i| %>
              <% refused = i['refusalInd'] ? 'Refused ' : '' %>
              <%= labeled_field refused + i['description'], date(i['time']) %>
          <% end %>

      </td>
      <td>
          <%= section_title :allergies %>
          <b>....</b>
          <%= section_title :medications %>
          <% section_enumerator(@record, :medications, earliest) do |x| %>
              <%= labeled_field x['description'], date(x['start_time']) + '&nbsp;-&nbsp;' + date(x['end_time'],'present'), 'med_field'  %>
          <% end %>

      </td>
    </tr>
    <tr>
      <td>
          <%= section_title :conditions %>
          <% section_enumerator(@record, :conditions, earliest) do |x| %>
            <%= labeled_field x['description'], date(x['start_time']) %>
          <% end %>
      </td>
      <td>
          <%= section_title :results %>
          <% section_enumerator(@record, :results, earliest) do |x| %>
              <%= labeled_field(x['description'] + show_value(x['value']), date(x['time'])) %>
          <% end %>
      </td>
    >r>
    <tr>
      <td>
        <%= section_title :encounters %>
        <% section_enumerator(@record, :encounters, earliest) do |x| %>
            <%= labeled_field x['description'], date(x['time']) %>
        <% end %>
      </td>
      <td>
        <%= section_title :procedures %>
        <% section_enumerator(@record, :procedures, earliest) do |x| %>
            <%= labeled_field x['description'], date(x['time']) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <%= section_title :vital_signs %>
        <%= labeled_field 'BMI',  latest_matching_vital(@record, 'BMI')%>
        <%= labeled_field 'Heart Rate',  latest_matching_vital(@record, 'Heart Rate')%>
        <%= labeled_field 'Systolic BP',  latest_matching_vital(@record, 'Systolic')%>
        <%= labeled_field 'Diastolic BP',  latest_matching_vital(@record, 'Diastolic')%>
      </td>
      <td>

      </td>
    </tr>
  </table>

  <div class="footer">Last updated on 11/11/11 by <a href='link'>Dr Rick Jones</a></div>
</div>