<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @notify_config.user %>
</p>

<p>
  <b>Interval:</b>
  <%= @notify_config.interval %>
</p>

<p>
  <b>Action:</b>
  <%= @notify_config.action %>
</p>

<p>
 <b>Alert out1:</b>
 <%= @notify_config.alert_out1 %>
</p>


<p>
 <b>Alert out2:</b>
<%= @notify_config.alert_out2 %>
</p>

<p>
 <b>Alert out3:</b>
<%= @notify_config.alert_out3 %>
</p>


<p>
 <b>Alert out4:</b>
<%= @notify_config.alert_out4 %>
</p>


<%= link_to 'Edit', edit_notify_config_path(@notify_config) %> |
<%= link_to 'Back', notify_configs_path %>
