<%= stylesheet_link_tag :common %>
<p id="notice"><%= notice %></p>

<h1>Consults You've Initiated</h1>

To initiate a consult, search for a patient and then press the
''create consult request' link next to the Consultation Requests. 
Or, you can click create consult request and then select the patient from the Patient Name field.
<p>

<table width="75%">
  <tr>
    <th>Date</th>
    <th>RefNumber</th>
    <th>Priority</th>
    <th colspan="2">Reason</th>
    <th>Patient</th>
    <th>Status</th>
    <th>Specialist</th>
 </tr>

<% @ref_consult_requests.each do |ref_consult_request| %>
  <tr>
    <td><%= ref_consult_request.refDate %></td>
   <td><%= ref_consult_request.refNumber %></td>
    <td><%= ref_consult_request.priority %></td>
    <td colspan="2"><%= ref_consult_request.reasonText %></td>
    <td>Fred Smith</td>
    <td><%= ref_consult_request.status %></td>
   <td><%= ref_consult_request.requestedConsultingProviderId %></td>

   <td><%= link_to 'Show', ref_consult_request %></td>
    <td><%= link_to 'Edit', edit_ref_consult_request_path(ref_consult_request) %></td>
    <td><%= link_to 'Destroy', ref_consult_request, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Email Request w/Direct', email_ref_consult_request_path(ref_consult_request) %></td>
 </tr>
<% end %>
</table>

<br />

